<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!--
  This is how to include wxi files.  We expect this file to define variables
  like the version numbers and the upgrade UUID.
  -->
  <?include $(sys.CURRENTDIR)include/puppet.wxi ?>

  <!--
  The Product Id should not be changed, the unique identifier enables
  un-install of the MSI package easily.  More information about supporting
  major upgrades is available at:
  http://wix.sourceforge.net/manual-wix3/major_upgrade.htm
  Name is made of localized product name and version number.
  -->
  <Product Id="CBCC929F-6B12-4A76-8E8E-64577256C825" UpgradeCode="$(var.UpgradeCode)"
    Name="$(var.OurProductName)"

    Language='1033'
    Codepage='1252'
    Version="$(var.VersionNumber)"
    Manufacturer="$(var.OurCompanyName)">

    <Package
      InstallerVersion='300'
      InstallScope="perMachine"
      Description="$(var.OurProductName) Installer"
      Comments="http://www.puppetlabs.com/"
      Compressed="yes"
      />

    <!-- Note, this UI element must come _after_ the Package element -->
    <UI>
      <!-- (#12473) (#12474) Installation Directory Dialog -->
      <UIRef Id="WixUI_PuppetInstallDir"/>
      <!-- To use WixUI_InstallDir, you must set a property named
         WIXUI_INSTALLDIR with a value of the ID of the directory you want the
         user to be able to specify the location of. -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    </UI>

    <Media Id="1"
      Cabinet="$(var.OurProductNameWord).cab"
      EmbedCab="yes"
      CompressionLevel="high"
      />

    <!--
      TARGETDIR is Usually C:/  This will also be the location the install package will be copied to
      For more information: http://msdn.microsoft.com/en-us/library/aa372064.aspx

      INSTALLDIR is the root of our application, which is C:/puppetlabs for us.
    -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' >
        <Directory Id='PuppetLabs' Name="$(var.OurCompanyName)">
          <Directory Id='INSTALLDIR' Name="$(var.OurProductNameWord)">
            <Directory Id='sys' Name='sys'>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!-- This section inspired by: http://wix.sourceforge.net/manual-wix3/write_a_registry_entry.htm -->
      <Component Id="RegistryEntries" Guid="5609A85E-BEAB-4807-B930-B7ED5D8E8F03">
        <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\$(var.OurCompanyName)\$(var.OurProductName)"
          Action="create" >
          <!-- This is the default (aka 'unnamed') key value of this path -->
          <RegistryValue Type="integer" Value="0"/>
          <!-- This is the specified value of a key at this path -->
          <RegistryValue Name="InstalledFlag" Value="1" Type="integer" KeyPath="yes"/>
          <!-- Store properties for later recall during uninstall, upgrade, repair -->
          <RegistryValue Name="RememberedInstallDir" Type="string" Value="[INSTALLDIR]" />
          <RegistryValue Name="RememberedPuppetMasterHostname" Type="string" Value="[PUPPET_MASTER_HOSTNAME]" />
          <RegistryValue Name="RememberedPuppetAgentCertname" Type="string" Value="[PUPPET_AGENT_CERTNAME]" />
        </RegistryKey>
      </Component>
    </Directory>

    <!-- It is possible to override WixVariable's on the command line using the
         -d flag to light when Overridable="yes". -->
    <!-- #12475 - Specify the license. -->
    <WixVariable Id="WixUILicenseRtf" Value="conf\windows\stage\misc\LICENSE.rtf" Overridable="yes" />
    <!-- (#12521) Use local Bitmaps -->
    <WixVariable Id="WixUIBannerBmp" Value="wix\ui\Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="wix\ui\Bitmaps\dlgbmp.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="wix\ui\Bitmaps\exclamic.ico" />
    <WixVariable Id="WixUIInfoIco" Value="wix\ui\Bitmaps\info.ico" />
    <WixVariable Id="WixUINewIco" Value="wix\ui\Bitmaps\New.ico" />
    <WixVariable Id="WixUIUpIco" Value="wix\ui\Bitmaps\Up.ico" />

    <!--
      Remembered Property Pattern
      http://robmensching.com/blog/posts/2010/5/2/The-WiX-toolsets-Remember-Property-pattern
      -->
    <Property Id="INSTALLDIR">
      <!-- Recall the property in repair, upgrade, and uninstall scenarios -->
      <RegistrySearch Id="RecallInstallDir" Root="HKLM"
        Key="SOFTWARE\$(var.OurCompanyName)\$(var.OurProductName)"
        Name="RememberedInstallDir" Type="raw" />
    </Property>
    <!-- Note the static default value of "puppet".  This will be overriden by
         the command line. -->
    <Property Id="PUPPET_MASTER_HOSTNAME" Value="puppet">
      <!-- Recall the property in repair, upgrade, and uninstall scenarios -->
      <RegistrySearch Id="RecallPuppetMasterHostname" Root="HKLM"
        Key="SOFTWARE\$(var.OurCompanyName)\$(var.OurProductName)"
        Name="RememberedPuppetMasterHostname" Type="raw" />
    </Property>
    <!-- PUPPET_AGENT_CERTNAME is special because it has a default value of the
         computer name.  The command line may override this using custom
         actions with a condition that the associated CMDLINE_FOOBAR property
         is set. -->
    <Property Id="PUPPET_AGENT_CERTNAME">
      <!-- Recall the property in repair, upgrade, and uninstall scenarios -->
      <RegistrySearch Id="RecallPuppetAgentCertname" Root="HKLM"
        Key="SOFTWARE\$(var.OurCompanyName)\$(var.OurProductName)"
        Name="RememberedPuppetAgentCertname" Type="raw" />
    </Property>

    <!-- Custom Actions to handle command line property values that override
         remembered property values -->
    <!-- INSTALLDIR -->
    <CustomAction Id="SaveCmdLineInstallDir"
      Property="[CMDLINE_INSTALLDIR]"
      Value="[INSTALLDIR]"
      Execute="firstSequence" />
    <CustomAction Id="SetFromCmdLineInstallDir"
      Property="INSTALLDIR"
      Value="[CMDLINE_INSTALLDIR]"
      Execute="firstSequence" />
    <!-- PUPPET_MASTER_HOSTNAME -->
    <CustomAction Id="SaveCmdLinePuppetMasterHostname"
      Property="[CMDLINE_PUPPET_MASTER_HOSTNAME]"
      Value="[PUPPET_MASTER_HOSTNAME]"
      Execute="firstSequence" />
    <CustomAction Id="SetFromCmdLinePuppetMasterHostname"
      Property="PUPPET_MASTER_HOSTNAME"
      Value="[CMDLINE_PUPPET_MASTER_HOSTNAME]"
      Execute="firstSequence" />
    <!-- PUPPET_AGENT_CERTNAME -->
    <CustomAction Id="SaveCmdLinePuppetAgentCertname"
      Property="[CMDLINE_PUPPET_AGENT_CERTNAME]"
      Value="[PUPPET_AGENT_CERTNAME]"
      Execute="firstSequence" />
    <CustomAction Id="SetFromCmdLinePuppetAgentCertname"
      Property="PUPPET_AGENT_CERTNAME"
      Value="[CMDLINE_PUPPET_AGENT_CERTNAME]"
      Execute="firstSequence" />
    <CustomAction Id="SetFromComputerNamePuppetAgentCertname"
      Property="PUPPET_AGENT_CERTNAME"
      Value="[ComputerName]"
      Execute="firstSequence" />

    <!-- First, save off properties specified on the command line Second,
         restore the properties set by the command line overriding the recalled
         value from the registry -->
    <InstallUISequence>
      <!-- INSTALLDIR -->
      <Custom Action='SaveCmdLineInstallDir' Before='AppSearch' />
      <Custom Action='SetFromCmdLineInstallDir' After='AppSearch'>
        CMDLINE_INSTALLDIR
      </Custom>
      <!-- PUPPET_MASTER_HOSTNAME -->
      <Custom Action='SaveCmdLinePuppetMasterHostname' Before='AppSearch' />
      <Custom Action='SetFromCmdLinePuppetMasterHostname' After='AppSearch'>
        CMDLINE_PUPPET_MASTER_HOSTNAME
      </Custom>
      <!-- PUPPET_AGENT_CERTNAME -->
      <Custom Action='SaveCmdLinePuppetAgentCertname' Before='AppSearch' />
      <Custom Action='SetFromCmdLinePuppetAgentCertname' After='AppSearch'>
        CMDLINE_PUPPET_AGENT_CERTNAME
      </Custom>
      <Custom Action='SetFromComputerNamePuppetAgentCertname' Before='AppSearch'>
        NOT CMDLINE_PUPPET_AGENT_CERTNAME
      </Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <!-- INSTALLDIR -->
      <Custom Action='SaveCmdLineInstallDir' Before='AppSearch' />
      <Custom Action='SetFromCmdLineInstallDir' After='AppSearch'>
        CMDLINE_INSTALLDIR
      </Custom>
      <!-- PUPPET_MASTER_HOSTNAME -->
      <Custom Action='SaveCmdLinePuppetMasterHostname' Before='AppSearch' />
      <Custom Action='SetFromCmdLinePuppetMasterHostname' After='AppSearch'>
        CMDLINE_PUPPET_MASTER_HOSTNAME
      </Custom>
      <!-- PUPPET_AGENT_CERTNAME -->
      <Custom Action='SaveCmdLinePuppetAgentCertname' Before='AppSearch' />
      <Custom Action='SetFromCmdLinePuppetAgentCertname' After='AppSearch'>
        CMDLINE_PUPPET_AGENT_CERTNAME
      </Custom>
      <Custom Action='SetFromComputerNamePuppetAgentCertname' Before='AppSearch'>
        NOT CMDLINE_PUPPET_AGENT_CERTNAME
      </Custom>
    </InstallExecuteSequence>

    <!--
      The Features to install.  We're using ComponentGroupRef instead of ComponentRef since we're
      generating the ruby wxs file using heat
    -->
    <Feature Id="$(var.OurProductNameWord)Runtime" Title="$(var.OurProductName) Runtime" Level="1">
      <ComponentRef Id="RegistryEntries" />
      <ComponentGroupRef Id="misc" />
      <?ifndef BUILD_UI_ONLY ?>
      <ComponentGroupRef Id="ruby" />
      <ComponentGroupRef Id="puppet" />
      <ComponentGroupRef Id="facter" />
      <ComponentGroupRef Id="bin" />
      <?endif?>
      <!-- We may not need an etc directory out of the box.
      <ComponentGroupRef Id="etc" />
      -->
    </Feature>
  </Product>
</Wix>
